<% provide(:title, 'Dashboard') %>

<% content_for :sidebar do %>
<li>
	
	<%= link_to @latestRun.name,    @latestRun %>
	
</li>
<% end %>
<h1>Dashboard</h1>

<h5>All testrun status here</h5>
<%= @latestRun.name %> </br>
<%= @latestRun.description %>
<h5> Total cases: <%= @totalcases %> </h5>
<h6> Passed: <%= @passed.count %> </h6>
<h6> Pending: <%= @pending.count %> </h6>
<h6> Failed: <%= @failed.count %> </h6>
<h6> Blocked: <%= @blocked.count %> </h6>

