<% provide(:title, 'Dashboard') %>

<% content_for :sidebar do %>
<li>
  <% if(@runs.size > 0) %>
   <% @runs.each do |run|   %>
   <%= link_to run.name,    run %>
  <% end %>
  <% end %>
</li>
<% end %>


<h1>Dashboard</h1>
  <% if(@runs.size > 0) %>
<section id="tabs">
<ul class="nav nav-tabs">
  <li>  <%= link_to @runs.first.name,  {   controller: "static_pages", action: "dashboard"} %> </li>
    <% if(@runs.size >= 6) %>
      <% @runs[1..6].each do |run| %>
        <li>  <%= link_to run.name,  {  testrunId: run.id, flana: "34", controller: "static_pages", action: "dashboard1"} %> </li>
      <%end %>
    <% elsif (@runs.size > 1 && @runs.size < 6) %>
      <% @runs[1..-1].each do |run| %>
        <li>  <%= link_to run.name,  {  testrunId: run.id, flana: "34", controller: "static_pages", action: "dashboard1"} %> </li>
      <% end %>
    <% end %>
</ul>
</section>
<div>
<body>
<h4> <%= @latestRun.name %> </h4>
      <div class="row-fluid">
<div class="span8">
Charts here
</div>
<div class="span4">
  <table class="table table-striped  table-hover" >

    <tr class="alert alert-info">
      <th>Total Testcases:</th>
      <td id="total"><%= @totalcases %></td>
      </tr>
    <tr class="alert alert-success">
      <th>Passed:</th>
      <td id="passed"><%= @passed.count %></td>
    </tr>
    <tr class="alert alert-danger">
      <th>Failed:</th>
      <td id="failed"><%= @failed.count %></td>
    </tr>
    <tr class="alert alert-warning">
      <th>Pending:</th>
      <td id="pending"><%= @pending.count %></td>
    </tr>
    <tr class="alert alert-error">
      <th>Blocked:</th>
      <td id="blocked"><%= @blocked.count %></td>
    </tr>

  </table>

</div>

</div>
</div>
<%= @passed.to_json %></body>
<% else %>
<p> There are no testruns currently </p> 
<% end %>
