<% provide(:title, "Sign in") %>


<div class="row-fluid">
       
  <div class="span4">
        <h3>Sign in</h3>

    <div class="input-append">

    <%= form_for(:session, url: sessions_path ) do |f| %>



      <%= f.text_field :email, placeholder: "Email" %>


      <%= f.password_field :password, placeholder: "Password" %>

      <%= f.submit "Sign in", class: "btn" %>
    <% end %>
    </div>
    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>

