<% provide(:title, 'Create new suite') %>
<ul class="breadcrumb">
                   <li> <%=link_to @pod.project.name, @pod.project %>  <span class="divider">/</span></li>
                   <li> <%=link_to @pod.name, @pod %>  <span class="divider">/</span></li>
                   <li class="active"> New suite </li>
                </ul>
</div>

<h1>Create new suite</h1>

<div class="row-fluid">
  <div class="span8">
    <%= form_for(@suite) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      <%= f.hidden_field  :pod_id, value: @pod.id %>      

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :description %>
      <%= f.text_area :description, size: "40*20" %>

</br>
      <%= f.submit "Create new suite", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
