<% provide(:title,"Suite #{@suite.name}") %>
<div>
<ul class="breadcrumb">
                   <li> <%=link_to @suite.pod.project.name, @suite.pod.project %>  <span class="divider">/</span></li>
                   <li> <%=link_to @suite.pod.name, @suite.pod %>  <span class="divider">/</span></li>
                   <li class="active"> <%= @suite.name %> </li>
                </ul>
</div>
<h1>Suite -
<%= @suite.name %></h1>
<% content_for :sidebar do %>
<li>
	<%= link_to  pod_path(@suite.pod) do %> <i class="icon-arrow-left"></i> Back to Pod
	<% end %>
</li>
<li>
	<%= link_to edit_suite_path(params[:id]) do %> <i class="icon-edit"></i> Edit Suite details
	<% end %>
</li>
<li>
	<%= link_to  new_testcase_path(suite_id: @suite.id) do %> <i class="icon-plus-sign"></i> Create new Testcase
	<% end %>
</li>

<% end %>

<% if @suite.testcases.any? %>
<h3>Testcases (<%= @suite.testcases.count %>)</h3>
<%= will_paginate @testcases, class: "pagination pagination-right" %>
<table class="table table-striped table-bordered table-hover table-condensed">
	<tr>
		<th>Id</th>
		<th>Title</th>
		<th>Type</th>
		<th>Priority</th>
		<% if current_user.admin?  %>
		<th> delete?</th> <% end %>
	</tr>
	<%= render @testcases %>
</table>
<%= will_paginate @testcases, class: "pagination pagination-right" %>
<% end %>

<!--  <div class="span6">
<% if @suite.testcases.any? %>
<h3>Testcases (<%= @suite.testcases.count %>)</h3>
<ol class="microposts">
<%= render @testcases %>
</ol>
<%= will_paginate @testcases %>
<% end %>
</div> -->

<!-- PENDING
Add a picture for a suite.
See Gravatar for a user in app/views/users/show.html.erb
-->
