<% provide(:title,"Project #{@project.name}") %>

      <h1>Project - 
      <%= @project.name %></h1>
      <% content_for :sidebar do %>
       <li> <%= link_to "Edit project details", edit_project_path(params[:id]) %></li>
       <li> <%= link_to "Create new Pod", new_pod_path(project_id: @project.id) %></li>
  <% end %>


    <% if @project.pods.any? %>
      <h3>Pods (<%= @project.pods.count %>)</h3>
      <%= will_paginate @pods, class: "pagination pagination-right" %>
      <ol class="microposts">
        <%= render @pods %>
      </ol>
      <%= will_paginate @pods, class: "pagination pagination-right" %>
    <% end %>

<!-- PENDING
Add a picture for a project.
See Gravatar for a user in app/views/users/show.html.erb
-->
