<% provide(:title,"Project #{@project.name}") %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>Project - 
      <%= @project.name %></h1>
       <p> <%= link_to "Edit project details", edit_project_path(params[:id]) %></p>
       <p> <%= link_to "Create new Pod", new_pod_path(project_id: @project.id) %></p>
    </section>
  </aside>

  <div class="span8">
    <% if @project.pods.any? %>
      <h3>Pods (<%= @project.pods.count %>)</h3>
      <%= will_paginate @pods, class: "pagination pagination-right" %>
      <ol class="microposts">
        <%= render @pods %>
      </ol>
      <%= will_paginate @pods, class: "pagination pagination-right" %>
    <% end %>
  </div>
</div>

<!-- PENDING
Add a picture for a project.
See Gravatar for a user in app/views/users/show.html.erb
-->
