<% provide(:title,"Project #{@project.name}") %>
<div>
<ul class="breadcrumb">
                   <li class="active"> <%= @project.name %>  </li>
                </ul>
</div>
      <% content_for :sidebar do %>

       <li> <%= link_to  edit_project_path(params[:id]) do %><i class="icon-edit"></i> Edit project details<%end%></li>
        <li> <%= link_to new_pod_path(project_id: @project.id) do %>
          <i class="icon-plus-sign"></i> Create new Pod
          <% end %>
       </li>
  <% end %>


    <% if @project.pods.any? %>
      <h3>Pods (<%= @project.pods.count %>)</h3>
      <%= will_paginate @pods, class: "pagination pagination-right" %>
      <ol class="microposts">
        <%= render @pods %>
      </ol>
      <%= will_paginate @pods, class: "pagination pagination-right" %>
    <% end %>

<!-- PENDING
Add a picture for a project.
See Gravatar for a user in app/views/users/show.html.erb
-->
