<tr>
 <td> <%= testcase.id  %> </td>
 <td> <%= link_to testcase.title, testcase  %> </td>
 <td> <%= testcase.testtype  %> </td>
 <td> <%= testcase.priority  %> </td>
  
  <% if current_user.admin?  %>
   <td>  <%= button_to "delete", testcase, method: :delete,  class: "btn btn-danger btn-small" , data: { confirm: "You sure?" } %>
   </td> <% end %> 
</tr>
