<% provide(:title, "Edit testcase") %> 
<h1>Update testcase details</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@testcase) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :title %>
      <%= f.text_field :title %>


      <%= f.label :testtype %>
      <%= f.select :testtype,  Testcase::TTOPTIONS %>

      <%= f.label :priority %>
      <%= f.select :priority,  Testcase::PROPTIONS %>

      <%= f.label :estimate %>
      <%= f.text_field :estimate %>

      <%= f.label :steps %>
      <%= f.text_area :steps, size: "40*20" %>
</br>
      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>
