<% provide(:title, 'Create new testcase') %>
<div>
	<ul class="breadcrumb">
		<li>
			<%= link_to @suite.pod.project.name, @suite.pod.project %> <span class="divider">/</span>
		</li>
		<li>
			<%= link_to @suite.pod.name, @suite.pod %> <span class="divider">/</span>
		</li>
		<li>
			<%= link_to @suite.name, @suite %> <span class="divider">/</span>
		</li>
		<li class="active">
			New testcase
		</li>
	</ul>
</div>

<h1>Create new testcase</h1>
<div class="row-fluid">
	<div class="span12">
		<%= form_for @testcase do |f| %>
		<%= render 'shared/error_messages', object: f.object %>

		<%= f.hidden_field  :suite_id, value: @suite.id %>
		<div class="input-prepend">
			<span class="add-on">Title</span>
			<%= f.text_field :title, placeholder: "Title", class: "input-xxlarge" %>
		</div>
		<div>
			<p></p>
		</div>
		<div class="row-fluid">
			<div class="span4">
				<div class="input-prepend">
					<span class="add-on">Testtype</span>
					<%= f.select :testtype,  Testcase::TTOPTIONS %>
				</div>
			</div>

			<div class="span4">
				<div class="input-prepend">
					<span class="add-on">Priority</span>
					<%= f.select :priority,  Testcase::PROPTIONS %>
				</div>
			</div>
			<div class="span4">
				<div class="input-prepend">
					<span class="add-on">Estimate</span>
					<%= f.text_field :estimate, id: "appendedPrependedInput" %>
					<span class="add-on">Hr</span>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12">
				<p></p>
				<div class="input-prepend">
					<span class="add-on">Steps</span>
					<%= f.text_area :steps,  class: "input-xxlarge", placeholder: "Steps..." %>
				</div>
			</div>

		</div>
		</br>
		<div class="row-fluid">
			<div class="span11 offset1">
				<%= f.submit "Create new testcase", class: "btn  btn-primary" %>
				<% end %>
			</div>
		</div>
	</div>
</div>
