<% provide(:title, 'Create new testcase') %>
<h1>Create new testcase</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@testcase) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      <%= f.hidden_field  :suite_id, value: @suite.id %>      

      <%= f.label :title %>
      <%= f.text_field :title, placeholder: "Title" %>

      <%= f.label :testtype %>
      <%= f.select :testtype,  Testcase::TTOPTIONS %>

      <%= f.label :priority %>
      <%= f.select :priority,  Testcase::PROPTIONS %>
      
      <%= f.label :estimate %>
      <%= f.text_field :estimate, placeholder: "Estimate" %>

      <%= f.label :steps %>
      <%= f.text_area :steps, size: "60*60", class: "input-xxlarge", placeholder: "Steps..." %>
      
</br>
      <%= f.submit "Create new testcase", class: "btn  btn-primary" %>
    <% end %>
  </div>
</div>
