<% provide(:title,"Testcase #{@testcase.title}") %>
<div class="row">
  <aside class="span4">
    <section>
     <h1>Suite - 
      <%= @testcase.suite.name %></h1>

    </section>
  </aside>
  
  <div class="span6">
      <h4>Title : 
      <%= @testcase.title %></h4>
      <h5>Testtype: <%= @testcase.testtype %></h5>
      <h5>Priority: <%= @testcase.priority %></h5>
      <h5>Steps:</h5>
      <p class="lead"> <%= @testcase.steps %>)</p>
  </div>

    <div class="span2">
       <p> <%= link_to "Edit testcase details", edit_testcase_path(params[:id]) %></p>
      <p> <%= link_to "back to suite", suite_path(@testcase.suite) %></p>
<!--      <p> <%= link_to "back to pod", suite_path(@testcase.suite.pod) %></p>
      <p> <%= link_to "back to project", suite_path(@testcase.suite.pod.project) %></p> -->
  </div>
</div>

<!-- PENDING
Add a picture for a testcase.
See Gravatar for a user in app/views/users/show.html.erb
-->
