<% provide(:title,"Pod #{@pod.name}") %>
<div>
<ul class="breadcrumb">
                   <li> <%=link_to @pod.project.name, @pod.project %>  <span class="divider">/</span></li>
                   <li class="active"> <%= @pod.name %>  </li>
                </ul>
</div>
     
     <%content_for :sidebar do %> 
     
     <li> 
     	<%= link_to  project_path(@pod.project) do %>
     	<i class="icon-arrow-left"></i> Back to project
     	<% end %>
     </li>
     <li> <%= link_to  edit_pod_path(params[:id]) do %>
     	<i class="icon-edit"></i> Edit pod details
     	<% end %>
     </li>
       <li> <%= link_to new_suite_path(pod_id: @pod.id) do %>
       	  <i class="icon-plus-sign"></i> Create new Suite
       	  <% end %>
       </li>
       
       <% end %>
     

       

 
    <% if @pod.suites.any? %>
      <h3>Suites (<%= @pod.suites.count %>)</h3>
        <%= will_paginate @suites, class: "pagination pagination-right" %>
      <ol class="microposts">
          <%= render @suites %>
      </ol>
        <%= will_paginate @suites, class: "pagination pagination-right" %>
    <% end %>

<!-- PENDING
Add a picture for a pod.
See Gravatar for a user in app/views/users/show.html.erb
-->
