<% provide(:title,"Pod #{@pod.name}") %>

     <h1>Project - 
      <%= @pod.project.name %></h1>
     
     <%content_for :sidebar do %> 
     
     <li> 
     	<%= link_to  project_path(@pod.project) do %>
     	<i class="icon-arrow-left"></i> Back to project
     	<% end %>
     </li>
     <li> <%= link_to  edit_pod_path(params[:id]) do %>
     	<i class="icon-wrench"></i> Edit pod details
     	<% end %>
     </li>
       <li> <%= link_to new_suite_path(pod_id: @pod.id) do %>
       	  <i class="icon-plus-sign"></i> Create new Suite
       	  <% end %>
       </li>
       
       <% end %>
     

      <h1>Pod - 
      <%= @pod.name %></h1>
       

 
    <% if @pod.suites.any? %>
      <h3>Suites (<%= @pod.suites.count %>)</h3>
        <%= will_paginate @suites, class: "pagination pagination-right" %>
      <ol class="microposts">
          <%= render @suites %>
      </ol>
        <%= will_paginate @suites, class: "pagination pagination-right" %>
    <% end %>

<!-- PENDING
Add a picture for a pod.
See Gravatar for a user in app/views/users/show.html.erb
-->
