    
<div>
             <%= button_to "Web Pod", { testrunId: @testrun } , {remote: true, class: "btn btn-primary" } %> 
             <%= button_to "Studio Pod", { testrunId: @testrun } , {remote: true, class: "btn btn-primary " } %> 
             <%= button_to "DB Pod", { testrunId: @testrun } , {remote: true, class: "btn btn-primary " } %> 
             <%= button_to "Integration Pod", { testrunId: @testrun } , {remote: true, class: "btn btn-primary " } %> 

</div>
<div>
  <li>
  <%= link_to @testrun.name,  @testrun %>
</li>

</div>
